$mobile: 375px;
$bigMobile: 600px;
$tablet: 750px;
$bigTablet: 1060px;
$smallDesktop: 1200px;
$desktop: 1440px;

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin bigMobile {
  @media (max-width: $bigMobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin bigTablet {
  @media (max-width: $bigTablet) {
    @content;
  }
}

@mixin smallDesktop {
  @media (max-width: $smallDesktop) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}
