@import "@/styles/width.scss";
@import "@/styles/colors.scss";

* {
  //if want to remove blue highlight on click:
  // -webkit-tap-highlight-color: transparent;
  font-family: "Public Sans", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  // font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  img {
    height: 50px;
    margin: 0.5rem 0 0.5rem 1rem;
  }
  .desktopImg {
    @include bigMobile {
      display: none;
    }
  }
  .mobileImg {
    display: none;
    @include bigMobile {
      display: block;
    }
  }
}

.hidden {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.visible {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem 0 1rem 0;
  p {
    font-weight: bold;
    font-size: 14px;
    align-self: center;
    margin: 2rem 0;
  }
}

nav {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    @include bigMobile {
      justify-content: space-around;
    }
    li {
      .nav-btn {
        padding: 20px 20px;
        font-weight: bold;
        font-size: 18px;
        @include tablet {
          padding: 10px 10px;
        }
        @include bigMobile {
          font-size: 14px;
        }
      }
      .underline {
        height: 4px;
        width: 100%;
        background: transparent; // Default to no background
        transition: background 0.3s ease; // Smooth transition for hover effect
      }
    }
    // Hover effect only applies for devices with a mouse pointer
    @media (hover: hover) and (pointer: fine) {
      li:hover {
        .underline {
          background: linear-gradient(to right, black, black);
        }
      }
    }
  }
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 0 4rem;
  @include bigMobile {
    padding: 0 2rem;
  }
}

.homeText {
  // margin-top: 5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    margin-bottom: 2rem;
  }
  img {
    max-width: 300px;
    align-self: center;
    margin: 5rem 0;
    // padding-right: 20px;
  }
}

section {
  min-height: 100vh;
  margin: 10rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    margin: 3rem 0 2rem 0;
  }
  h3 {
    margin: 3rem 0 1rem 0;
  }
  ul {
    li {
      margin: 1.5rem 0;
      margin-left: 1rem;
    }
  }
}

.bold-text {
  font-weight: bold;
}
.regular-text {
  display: inline;
}
